version: '2.1'

services:
  fe:
    image: novyl/jtl-reporter-fe:v4.6.0
    ports:
     - "2020:80"
    depends_on:
      - db
      - be

  db:
    container_name: jtl-reporter-db
    build:
      context: ./db/
      dockerfile: Dockerfile
    volumes:
      - ./data/jtl_reporter_v4:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 10
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust

  be:
    image: novyl/jtl-reporter-be:v4.6.0
    ports:
      - "5000:5000"
    environment:
      - DB_HOST=db
      - JWT_TOKEN=27JU4qy73hchTMLoH8w9m # please change this token
      - JWT_TOKEN_LOGIN=GdK6TrCvX7rJRZJVg4ijt  # please change this token, the same must be used for listener service

  migration:
    image: novyl/jtl-reporter-be:v4.6.0
    environment:
        - DATABASE_URL=postgres://postgres@db/jtl_report
        - OPT_OUT_ANALYTICS=true
    command: npm run migrate up
    depends_on:
      db:
        condition: service_healthy
    
  listener:
    image: novyl/jtl-reporter-listener-service:v2.0.6
    ports:
      - "6000:6000"
    environment:
      - DB_HOST=db
      - JWT_TOKEN=GdK6TrCvX7rJRZJVg4ijt # paste the same token as in be service - JWT_TOKEN_LOGIN
  
  scheduler:
    image: novyl/jtl-reporter-scheduler:v0.0.4
    environment:
      - DB_HOST=db

